{% extends 'base.html' %}

{% block content %}

<!-- MultiStep Form -->
<div class="container-fluid" id="grad1">
    <div class="row justify-content-center mt-0">
        <div class="container">
            <h2>{{ form.instance.pk|default:"Crear Nuevo Producto" }}</h2>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
                <a href="{% url 'producto_list' %}" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
