<!-- login.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista </title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
    {% load static %}
    <h1>Esta es una vista</h1>

    <div class=container>
        <div class="row align-items-start">
            <div class="col">
            <img src=" {% static 'img/LogoExpopack.png' %}" alt='Logo' >
            </div>
            <div class="col">
                <div class="col-md-3 ml-md-auto">
                cotizacion {{check.numero_cotizacion}}
                </div>
            </div>
            <div class="col">
            <p>Fecha de emision </p> <hr>
            <p>{{check.numero_cotizacion}}</p>
            </div>
            <hr style="height:30px" color="blue">
        </div>
    </div>

    <div class= container>
        <div class="row align-items-start">
            <div class="col">
                <div class="card" style="width: 18rem;">
                <div class="card-header">
                    CLIENTE/PROSPECTO
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">EMPRESA - {{check.nombre_cliente}} </li>
                    <li class="list-group-item">ATENCION A </li>
                    <li class="list-group-item">DIRECCION </li>
                </ul>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                <div class="card-header">
                    CLIENTE/PROSPECTO
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">EMPRESA  {{check.nombre_cliente}}   </li>
                    <li class="list-group-item">ATENCION A </li>
                    <li class="list-group-item">DIRECCION </li>
                </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
