{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% load static %}



{% block content %}
<div id="content">
<div class="container mt-5">
    <h2 class="mb-4">Resumen de Registros</h2>
    <div class="row">
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card text-white bg-primary mb-3">
                <div class="card-body">
                    <h5 class="card-title">Clientes</h5>
                    <p class="card-text fs-2">{{ total_clientes }}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card text-white bg-success mb-3">
                <div class="card-body">
                    <h5 class="card-title">Vendedores</h5>
                    <p class="card-text fs-2">{{ total_vendedores }}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card text-white bg-info mb-3">
                <div class="card-body">
                    <h5 class="card-title">Checks</h5>
                    <p class="card-text fs-2">{{ total_checks }}</p>
                </div>
            </div>
        </div>
    </div>
 </div>
    
 {% endblock %}
